.image {
    width: 40px;
    height: 40px;
    margin: 20px;
}



.navbar {
    display: flex;
    justify-content: flex-end;
}
.firstCont {
    margin-bottom: 400px;
}

.secondCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.font {
    font-family: 'Helvetica';
    font-size: 50px;
    margin-left: 50px;
}

.secondFont {
    font-family: 'Helvetica';
    font-size: 50px;
    margin-left: 50px;
    margin-top: 100px;
}

.pFont {
    font-family: 'Helvetica';
    font-size: 30px;
}

.imageCropper {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 90px;
    margin-bottom: 100px;


}

.profilePic {
    display: inline;
    object-fit: cover;
    height: 100%;
    width: 100%;
}